@media screen and (max-width: 48rem) {
    .section {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media screen and (min-width: 600px) and (max-width: 1024px) {
    .section {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  @media screen and (min-width: 780px) and (max-width: 1024px) {
    .section {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  @media screen and (min-width: 1000px) {
    .section {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  